<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	<title>
		phrase d'exemple en chinois : 密码是"Muiriel"。	</title>
	<link href="/favicon.ico" type="image/x-icon" rel="icon" /><link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" /><link rel="stylesheet" type="text/css" href="http://css.tatoeba.org/css/layouts/default.css" /><link rel="stylesheet" type="text/css" href="http://css.tatoeba.org/css/sentences/show.css" /><link rel="stylesheet" type="text/css" href="http://css.tatoeba.org/css/elements/furigana.css" /><script type="text/javascript" src="http://js.tatoeba.org/js/jquery-mini.js"></script><script type="text/javascript" src="http://js.tatoeba.org/js/generic_functions.js"></script><script type="text/javascript" src="/js/sentences.random.js?1276977943"></script>
	<script type="text/javascript" src="/js/sentences_lists.menu.js?1276977943"></script>
	<script type="text/javascript" src="http://js.tatoeba.org/js/furigana.js"></script>
	<script type="text/javascript" src="/js/sentences.play_audio.js?1274053139"></script>    
    <link rel="search" type="application/opensearchdescription+xml" href="http://tatoeba.org/opensearch.xml" title="Tatoeba project" />
</head>
<body>
	{% include "sentences.html" %}
</body>
</html>
