<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/layouts/base.css" />
</head>
<body>
	{% include "layouts/top_menu.html" %}
	<div id="container1">
		<div id="header">
			<a href="/en"><img src="/static/img/TatoebaProjectBeta.png" wigth 72 height="450" alt="TatoebaProjectBeta"></a>
		</div>
		<div="container">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			<ul>
				<li>plop</li>
				<li>plop</li>
			</ul>
		</div>
	<div>
	<div id="footer_container">
	<div>
</body>
</html>
