<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/layouts/base.css" />
	<script type="text/javascript" src="/static/js/jquery-mini.js"></script>
	{% block header %}{% endblock %}
</head>
<body>
	{% include "layouts/top_menu.html" %}
	<div id="page_container">
		<div id="header">
			<a href="/en"><img src="/static/img/TatoebaProjectBeta.png" width="72" height="450" alt="TatoebaProjectBeta"></a>
		</div>
		<div id="content_container">
			<div id="main_content">
				{% block content %}{% endblock %}
			</div>
		</div>
		<div id="footer_container">
			<ul>
				<li>plop</li>
				<li>plop</li>
			</ul>
		</div>
	</div>
	<div id="footer">
	</div>
</body>
</html>
