{% load i18n %}
<script type="text/javascript">
<!--
	function openLoginForm() {
		document.getElementById('UserLoginForm_FromBar').style.display = 'block';
	}
	function closeLoginForm() {
		document.getElementById('UserLoginForm_FromBar').style.display = 'none';
	}
-->
</script>

<a href="/{{ LANGUAGE_CODE }}/users/register" class="menuItem">{% trans "Register" %}</a>
<a href="/{{ LANGUAGE_CODE }}/users/login" onclick="javascript:openLoginForm(); return false;" class="menuItem">{% trans "Log in" %}</a>

<form id="UserLoginForm_FromBar" style="display:none;" method="post" action="/{{ LANGUAGE_CODE }}/users/check_login"> {% csrf_token %}
<fieldset style="display:none;">
	<input type="hidden" name="_method" value="POST" />
</fieldset>
<fieldset>
	<div class="input text">
		<label for="UserUsername">{% trans "Username : " %}</label>
		<input name="username" type="text" maxlength="20" value="" id="UserUsername" />
	</div>
	<div class="input password">
		<label for="UserPassword">{% trans "Password : " %}</label>
		<input type="password" name="password" value="" id="UserPassword" />
	</div>
	<input type="checkbox" name="rememberMe" value="1" id="UserRememberMe" />
	<label for="UserRememberMe" class="notInBlackBand">{% trans "Remember me" %}</label>
	<div class="submit">
		<input type="submit" value="Log in" />
	</div>
</fieldset>
<p>
	<a href="/{{ LANGUAGE_CODE }}/users/new_password">{% trans "Password forgotten?" %}</a>
	<a href="#" class="menuItem" style="float:right;" onclick="javascript:closeLoginForm();">{% trans "Close" %}</a>
</p>
</form>
