<script type="text/javascript">
<!--
	function openLoginForm() {
		document.getElementById('UserLoginForm_FromBar').style.display = 'block';
	}
	function closeLoginForm() {
		document.getElementById('UserLoginForm_FromBar').style.display = 'none';
	}
-->
</script>

<a href="/eng/users/register" class="menuItem">Register</a>
<a href="/eng/users/login" onclick="javascript:openLoginForm(); return false;" class="menuItem">Log in</a>

<form id="UserLoginForm_FromBar" style="display:none;" method="post" action="/en/users/check_login"> {% csrf_token %}
<fieldset style="display:none;">
	<input type="hidden" name="_method" value="POST" />
</fieldset>
<fieldset>
	<div class="input text">
		<label for="UserUsername">Username : </label>
		<input name="username" type="text" maxlength="20" value="" id="UserUsername" />
	</div>
	<div class="input password">
		<label for="UserPassword">Password : </label>
		<input type="password" name="password" value="" id="UserPassword" />
	</div>
	<input type="hidden" name="data[User][rememberMe]" id="UserRememberMe_" value="0" />
	<input type="checkbox" name="data[User][rememberMe]" value="1" id="UserRememberMe" />
	<label for="UserRememberMe" class="notInBlackBand">Remember me</label>
	<input type="hidden" name="data[User][redirectTo]" value="/eng" id="UserRedirectTo" />
	<div class="submit">
		<input type="submit" value="Log in" />
	</div>
</fieldset>
<p>
	<a href="/eng/users/new_password">Password forgotten?</a>
	<a href="#" class="menuItem" style="float:right;" onclick="javascript:closeLoginForm();">Close</a>
</p>
</form>
