{% load i18n %}
<div id="top_menu_container">
	<div id="top_menu">
		<div id="languageSelectionContainer">
			<select id="languageSelection">
			{% for lang in LANGUAGES %}
				<option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>{{ lang.1 }}</option>
			{% endfor %}
			</select>
		</div>
		<div id="user_menu">
		{% if user.is_authenticated  %}
			<span id="profile" title="{% trans "Profile" %}">
				<a href="/{{ LANGUAGE_CODE }}/user/index"><img src="http://flags.tatoeba.org/img/profile.png" alt="{% trans "Profile" %}" width="14" height="14" />{{ user.username  }}</a>
			</span>
			<span id="inbox" title="{% trans "Inbox" %}">
				<a href="/{{ LANGUAGE_CODE }}/private_messages/folder/Inbox"><img src="http://flags.tatoeba.org/img/no_mail.png" alt="{% trans "Inbox" %}" width="16" height="16" /> 0</a>
			</span>
			<span id="log_out">
				<a href="/{{ LANGUAGE_CODE }}/users/logout"><img src="http://flags.tatoeba.org/img/log_out.png" alt="{% trans "Log out" %}" title="{% trans "Log out" %}" width="14" height="14" /></a>
			</span>
		{% else %}
			{% include "layouts/login.html" %}
		{% endif %}
		</div>
		<ul id="navigation_menu">
			<li><a href="/{{ LANGUAGE_CODE }}/home" class="menuItem show">{% trans "Home" %}</a></li>
			<li><a href="/{{ LANGUAGE_CODE }}/sentences/show/random" class="menuItem">{% trans "Browse" %}</a></li>
			<li><a href="/{{ LANGUAGE_CODE }}/contribute" class="menuItem">{% trans "Contribute" %}</a></li>
			<li><a href="/{{ LANGUAGE_CODE }}/users/all" class="menuItem">{% trans "Members" %}</a></li>
			<li><a href="/{{ LANGUAGE_CODE }}/wall/index" class="menuItem">{% trans "Wall" %}</a></li>
		</ul>
	</div>
</div>
