<div id="top_menu_container">
	<div id="top_menu">
		<div id="languageSelectionContainer">
			<select id="languageSelection">
			{% for lang in LANGUAGES %}
				<option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>{{ lang.1 }}</option>
			{% endfor %}
			</select>
		</div>
		<div id="user_menu">
		{% if user.is_authenticated  %}
			<span id="profile" title="Profile">
				<a href="/eng/user/index"><img src="http://flags.tatoeba.org/img/profile.png" alt="Profile" width="14" height="14" />{{ user.username  }}</a>
			</span>
			<span id="inbox"  title="Inbox">
				<a href="/eng/private_messages/folder/Inbox"><img src="http://flags.tatoeba.org/img/no_mail.png" alt="Inbox" width="16" height="16" /> 0</a>
			</span>
			<span id="log_out">
				<a href="/eng/users/logout"><img src="http://flags.tatoeba.org/img/log_out.png" alt="Log out" title="Log out" width="14" height="14" /></a>
			</span>
		{% else %}
			{% include "layouts/login.html" %}
		{% endif %}
		</div>
		<ul id="navigation_menu">
			<li><a href="/eng/home" class="menuItem show">Home</a></li>
			<li><a href="/eng/sentences/show/random" class="menuItem">Browse</a></li>
			<li><a href="/eng/contribute" class="menuItem">Contribute</a></li>
			<li><a href="/eng/users/all" class="menuItem">Members</a></li>
			<li><a href="/eng/wall/index" class="menuItem">Wall</a></li>
		</ul>
	</div>
</div>
