<div id="top_menu_container">
	<div id="top">
		<div id="languageSelectionContainer">
			<select id="languageSelection" name="">
				<option value="eng">English</option>
			</select>
		</div>
		<div id="user_menu">
		{% if user.is_authenticated  %}
		{% else %}
			{% include "skeleton/login.html" %}
		{% endif %}
		</div>
		<ul id="navigation_menu">
			<li><a href="/fre/home" class="menuItem show">Home</a>
			<li><a href="/fre/sentences/show/random" class="menuItem">Browse</a>
			<li><a href="/fre/contribute" class="menuItem">Contribute</a>
			<li><a href="/fre/users/all" class="menuItem">Members</a>
			<li><a href="/fre/wall/index" class="menuItem">Wall</a>
		</ul>
	</div>
</div>
